.header
  .header__left
    .header__left__user-info
      .header__left__user-info__name
        = link_to current_user.name, root_path
      .header__left__user-info__image
        .fas.fa-user

.new 本情報の編集

.form
  = form_for @book do |e|
    .form__main
      = image_tag @book[:image], alt: "本の画像", class: "form__main__show-img"
      .form__main__input
        = e.text_field :title, class: "form__main__input__title"
        = e.text_field :image, class: "form__main__input__img"
        = e.text_field :total_page_count, class: "form__main__input__total-pages"
    = e.submit "編集", class: 'form__send-btn'
