.header
  .header__left
    .header__left__user-info
      .header__left__user-info__name
        = link_to current_user.name, root_path
      .header__left__user-info__image
        .fas.fa-user
  -# .header__center
  .header__right

.new 本の登録

.form
  = form_for @book do |f|
    .form__main
      -if @book[:image] != nil
        = image_tag @book[:image], alt: "本の画像", class: "form__main__show-img"
      - else
        = image_tag "no_image.jpg", alt: "本の画像", class: "form__main__show-img"
      .form__main__input
        = f.text_field :title, class: "form__main__input__title", placeholder: "本のタイトルを登録してください"
        = f.text_field :image, class: "form__main__input__img", placeholder: "本の画像URLを登録してください"
        = f.text_field :total_page_count, class: "form__main__input__total-pages", placeholder: "本の総ページ数を登録してください"
    = f.submit '登録', class: 'form__send-btn'
