.header
  .header__left
    .header__left__user-info
      .header__left__user-info__name
        = link_to current_user.name, root_path
      .header__left__user-info__image
        .fas.fa-user
  .header__center__new
  .header__right
    = link_to "/books/#{@book.id}", method: :delete do
      .deleat-btn 削除
    = link_to edit_book_path(@book.id) do
      .book-regist-btn 編集

.show 本の詳細

.main
  -if @book[:image] != nil
    = image_tag @book[:image], alt: "本の画像", class: "book-image"
  - else
    = image_tag "no_image.jpg", alt: "本の画像", class: "book-image"
  .book-info
    %h4 タイトル
    %p
      = @book[:title]
    %h4 著者
    .book-info__author
      %p
        = @book[:author]
    %h4 出版社
    .book-info__publish
      %p
        = @book[:published_at]
    %h4 登録日
    .book-info__registed_at
      %p
        = @book[:created_at].strftime('%Y/%m/%d')

.book-impression 本の感想を共有
